<div class="panel panel-default">
        <div class="panel-heading clearfix">
        <h4 class="panel-title">
                <h4 id="h_title"  *ngIf="data">
                        Status:
                        <b style="color: red" *ngIf="data.qaEventStatusMast.statusDesc != 'undefined'">
                            {{data.qaEventStatusMast.statusDesc}}
                         
                        </b>
                    </h4>
            <div class="input-group pull-right">
         
                        <div *ngIf= "newevent.eventId;  else editEvent" >
                                <button class="btn btn-warning" (click)="editHdr()" [disabled]="!buttonEnableDisable">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Event HDR</button>
                                  
                        <button class="btn btn-success" (click)="approveEvent()" [disabled]="!buttonEnableDisable">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>Approve</button>
                       
                        
                            <button class="btn btn-info" (click)="clearModel()" >
                                    <i class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
            
                            </div>
                            <ng-template #editEvent>
                                    <form novalidate (ngSubmit)="saveInfo()" style="display: inline;">
                                            <button type="submit" class="btn btn-success" [disabled]=" !heroForm.form.valid" >
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>                    
                                        </form>
                                        <button class="btn btn-info" (click)="clearModel()">
                                                <i class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
                        
                                    </ng-template>       
                   
                </div>
        </h4>

 </div>
</div>

<fieldset>
<legend><b>Event Details</b></legend>
   
<div id="page-wrapper">
    <div class="row">
          
        <div class="col-lg-4">
               
            <form class="form-horizontal"  novalidate (ngSubmit)="saveInfo()" #heroForm="ngForm" autocomplete="off">
                <div class="form-group">
                    <label class="control-label col-sm-4">Event No</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="eventNo" [(ngModel)]="newevent.eventNo" name="eventNo" #name="ngModel"
                            readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Event Time
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="eventTime" [(ngModel)]="newevent.eventTime" required name="eventTime" #name="ngModel">
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4">Location
                                <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" [(ngModel)]="newevent.eventLocation" required name="eventLocation" #name="ngModel">
                                <option *ngFor="let loc of locationColl" [ngValue]="loc.locationCode">
                                    {{loc.locationName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Department
                                <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" [(ngModel)]="newevent.eventDept" name="eventDept" required #name="ngModel">
                                <option *ngFor="let dep of departmentColl" [ngValue]="dep.deptCode">
                                    {{dep.deptName}}</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Category
                            <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="newevent.eventCategory" required name="eventCategory" #name="ngModel" (change)="firstDropDownChanged($event.target.selectedIndex - 1)">
                            <option>Select</option>
                            <option *ngFor="let cat of categoryColl" [ngValue]="cat.categoryCode">
                                {{cat.categoryDesc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Sub Category
                            <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <select  class="form-control" [(ngModel)]="newevent.eventSubCategory" required name="eventSubCategory" #name="ngModel" >
                            <option *ngFor="let subcat of filterResult" [ngValue]="subcat.subCatCode" >
                                {{subcat.subCatDesc}}</option>
                        </select>
                    </div>
                </div>
               
               
            </form>
        </div>
        <div class="col-lg-8">
            <form class="form-horizontal"  novalidate (ngSubmit)="saveInfo()" #heroForm="ngForm" autocomplete="off">

                <div class="form-group">
                    <label class="control-label col-sm-2">Message
                            <span>*</span>
                    </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="11" type="text" class="form-control" id="msgDesc" required
                        [(ngModel)]="messageItem.msgDesc"  name="msgDesc" #name="ngModel" [readonly]="!incidentMessage"></textarea>
                       
                    </div>
                </div>
                
            </form>
            <div class="pull-right" *ngIf= "newevent.eventId;" >
            <button class="btn btn-warning" data-toggle="modal" data-target=".modalEditMessage" [disabled]="!buttonEnableDisable">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Message</button>
            </div>
               
            </div>

            <!-- Trigger the modal with a button editDescription-->
        <div class="modal fade modalEditMessage" id="modalEditMessage" role="dialog">
                <div class="modal-dialog ">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Please edit Description for Message {{this.messageItem.messageId}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="col-sm-2">
                                    Edit Description
                                </div>
                                <div class="col-sm-10">
                                 <textarea class="form-control" rows="7" type="text" [(ngModel)]="messageItem.msgDesc" >
                                </textarea>   
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="editMessage()" data-dismiss="modal">Edit</button>
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <h5 style="color: rgb(15, 0, 230)" class="pull-right"> &nbsp; &nbsp; {{entryBy}} &nbsp;{{newevent.createdTime|date:'dd-MM-yyyy'}}</h5>
                </div>
            </div>
    </div>
    </div>
</fieldset>  
&nbsp;
      <!--tab begins-->

        <tabset>
                <tab heading="Patient Info" id="tab_align" >
                        <div class="row">
                            
                        <form class="form-vertical"  novalidate (ngSubmit)="saveInfo()" autocomplete="off">
                                <div class="form-group">
                                   
                                     <div class="col-sm-3">
                                        <input type="text" class="form-control"  placeholder="PATIENT NO" readonly>
                                       </div>
                                       <div hidden>
                                            <input type="number" class="form-control" id="paramId" [(ngModel)]="paramItem.paramId" name="paramId"  #name="ngModel">
                                        </div>
                                       <div class="col-sm-3">
                                            <input type="number" class="form-control" id="paramValue" [(ngModel)]="paramItem.paramValue" name="paramValue" #name="ngModel">
                                        </div>
                                     
                                              
                                                
                                                <div *ngIf= "paramItem.paramId; else eventParameter" >
                                                    <button class="btn btn-info" (click)="editParameters()" [disabled]="!buttonEnableDisable">Edit
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </button>
    
                                                <button class="btn btn-danger" (click)="deleteParameter()" [disabled]="!buttonEnableDisable">Delete
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </div>
                                                <ng-template #eventParameter>
                                                    <button class="btn btn-info" (click)="createParameters()" [disabled]="!buttonEnableDisable">Add
                                                        <i class="fa fa-plus"></i>
                                                        </button>
                              
                                                </ng-template>
                                        
                                </div>
                               </form>
                            </div>
                        </tab>
                
       
        <!-- WITNESS TAB BEGINS -->
        <tab heading="Witness Information" id="tab_align" >

                 <!--modal for add witness-->
                 <div class="modal fade ModalcreateWitness"
                 id="ModalcreateWitness" role="dialog">
                        <div class="modal-dialog ">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <form class="form-horizontal">    
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Event Witnessess</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="form-group">
                                            <div class="col-sm-4">Witness Name</div>
                                                <div class="col-sm-8">
                                                        <select class="form-control" [(ngModel)]="witItem.persCode" name="persCode" >
                                                                <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                                                    {{cre.printName}}</option>
                                                            </select>  
                                                </div>
                                            </div>
                                            <div class="form-group">
                                        <div class="col-sm-4"> Remarks</div>
                                        <div class="col-sm-8">
                                         <textarea class="form-control" rows="7" type="text" [(ngModel)]="witItem.remarks" name="remarks" #name="ngModel">
                                        </textarea>   
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="createWitness()" data-dismiss="modal">Create</button>
                                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                <!-- end of create witness modal-->

               
                <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                    
                                <tr style="color:white;background-color:rgb(135, 163, 216)">
                                    <th> Witness Name</th>
                                    <th> Remarks</th>
                                    <th>
                                        <div class="input-group pull-right">
                                        
                                        <span class="tooltiptext" title="Add Witness">
                                                <button type="button" class="btn btn-success " data-toggle="modal" data-target=".ModalcreateWitness" [disabled]="!buttonEnableDisable || !processcreateQaEventWitnesses" >
                                                <i class="fa fa-plus"></i>
                                                    </button>
                                        </span>
                                        <span class="tooltiptext" title="Please select and Edit Witness">
                                            <button class="btn btn-info"  data-toggle="modal" data-target=".modalEditWitness" [disabled]="!buttonEnableDisable">
                                            <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                        </span>
                                        <span class="tooltiptext" title="Please select and Delete Witness">
                                                <button class="btn btn-danger" (click)="deleteWitness()" [disabled]="!buttonEnableDisable" >
                                                <i class="fa fa-trash-o"></i>
                                                </button>
                                        </span>
                                
                                    
                                        
                                        </div>
                                        </th>
                                </tr>
                            </thead>
                                       
                              <tbody>
                                <tr *ngFor="let dep of newevent.qaEventWitnessesVew"  (click)="selectedWitness(dep)" [class.active]="dep == selectedRow">
                                    <td>{{dep.qaPersonalMast.printName}}</td>
                                    <td id="pre">{{dep.remarks}}</td>
                                    <td>
                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  
                    </div>
                  
                     
    
                      <!--modal for Editwitness-->
                      <div class="modal fade modalEditWitness" id="modalEditWitness" role="dialog">
                            <div class="modal-dialog ">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <form class="form-horizontal">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Event Witnessess</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="form-group">
                                                <div class="col-sm-4">Witness Name</div>
                                                    <div class="col-sm-8">
                                                            <select class="form-control" [(ngModel)]="witnessItem.persCode" name="persCode" #name="ngModel">
                                                                    <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                                                        {{cre.printName}}</option>
                                                                </select>  
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                            <div class="col-sm-4"> Remarks</div>
                                            <div class="col-sm-8">
                                             <textarea class="form-control" rows="7" type="text" [(ngModel)]="witnessItem.remarks" name="remarks" #name="ngModel">
                                            </textarea>   
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" (click)="editWitness()" data-dismiss="modal">Edit</button>
                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    <!-- end of edit witness modal-->
                 
                  
                   
             </tab>
                
        <!--USER TAB BEGINS -->
        <tab heading="Event Users" id="tab_align" >
             <!-- Trigger the modal with a button createUser-->
        <div class="modal fade myModalcreatemoreUser" id="myModalcreatemoreUser" role="dialog">
                <div class="modal-dialog ">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Please add User for Event </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="col-sm-2">
                                    Name
                                </div>
                                <div class="col-sm-10">
                                    <select class="form-control" [(ngModel)]="moreuserItem.persCode"  name="persCode" #name="ngModel">
                                        <option *ngFor="let cre of persColl" [ngValue]="cre.persCode">
                                            {{cre.printName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="createmoreUser()" data-dismiss="modal">Add user</button>
                            <button type="button" class="btn " data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                    <tr style="color:white;background-color:rgb(135, 163, 216)">
                                    <th>User</th>
                                    <th>Type Description</th>
                                    <th>  
                                        <div class="input-group pull-right">
                                        <span class="tooltiptext" title="Add Users">
                                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreatemoreUser" [disabled]="!buttonEnableDisable || !processcreateQaEventUser" >
                                       
                                        <i class="fa fa-plus"></i>
                                        </button>
                                        </span>
                                        <span class="tooltiptext" title="Please select and delete user">
                                        <button class="btn btn-danger" (click)="deleteUser()" [disabled]="!buttonEnableDisable || !processdeleteQaEventUser">
                                                <i class="fa fa-trash-o"></i>
                                        </button>
                                    </span>
                                        </div>
                                    </th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of newevent.qaEventUsersVew" (click)="selectedUser(user)" [class.active]="user == selectedRow">
                                    <td>{{user.qaPersonalMast.printName}}</td>
                                    <td>{{user.qaEventUserTypeMast.typeDesc}}</td>
                                    <td>  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
       
        
       </tab>
    </tabset>
     <!--END TABSET-->


   
