<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form name="form" (ngSubmit)="login()" #f="ngForm" >
      <div class="input-container">
        <input type="text"  [(ngModel)]="model.username" name="username" autocomplete="off"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password"  [(ngModel)]="model.password" name="password" autocomplete="off"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div *ngIf="error" class="login-error">
        <h5 style="text-align:center;">{{error}}</h5>
      </div>
      <div class="button-container">
        <button type="submit">
          <span>Sign In</span>
        </button>
      </div>
      <div class="footer">
        <a href="#">
          <h5>© Affinity Info Solutions. All Rights Reserved.</h5>
        </a>
      </div>
    </form>
  </div>
</div>