<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="input-group pull-right">
            <button class="btn btn-primary panel-title" (click)="print()">
                <i class="fa fa-print"></i> Print </button> &nbsp;
            <button class="btn btn-warning panel-title" (click)="tableToExcel('event','Event Details')">
                <span class="glyphicon glyphicon-export"></span>Export to excel </button>
        </div>
    </div>
</div>

<!-- form-fields -->
<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px;">
        <div class="col-md-4 col-sm-4">
            <form class="form-horizontal" (ngSubmit)="searchEvent()" #myLogin="ngForm">
                <div class="form-group">
                    <label class="control-label col-sm-4">Event No:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="eventNo" [(ngModel)]="searchModel.eventNo" name="eventNo" #name="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Created By:</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.createdBy" name="createdBy" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option *ngFor="let cre of persColl" [ngValue]="cre.persCode">
                                {{cre.printName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Status</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.eventStatus" name="eventStatus" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option [ngValue]="1">REGISTERED</option>
                            <option [ngValue]="9">CLOSED</option>
                            <option [ngValue]="0">PENDING</option>
                            <option [ngValue]="-1">CANCELLED</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4">
            <form class="form-horizontal" (ngSubmit)="searchEvent()" #myLogin="ngForm">
                <div class="form-group">
                    <label class="control-label col-sm-4">From Date:</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="fromTime" [ngModel]="searchModel.fromTime" (ngModelChange)="searchModel.fromTime = $event"
                            name="fromTime" #name="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">To Date:</label>
                    <div class="col-sm-8">
                        <input  type="date" class="form-control" id="toTime" [(ngModel)]="searchModel.toTime" name="toTime" #name="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Location:</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.eventLocation" name="eventLocation" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option *ngFor="let loc of locationColl" [ngValue]="loc.locationCode">
                                {{loc.locationName}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4">
            <form class="form-horizontal" (ngSubmit)="searchEvent()" #myLogin="ngForm">
                <div class="form-group">
                    <label class="control-label col-sm-4">Category:</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.eventCategory" name="eventCategory" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option *ngFor="let cat of categoryColl" [ngValue]="cat.categoryCode">
                                {{cat.categoryDesc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Subcategory:</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.eventSubCategory" name="eventSubCategory" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option *ngFor="let subcat of subcategoryColl" [ngValue]="subcat.subCatCode">
                                {{subcat.subCatDesc}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4">
            <form class="form-horizontal" (ngSubmit)="searchEvent()" #myLogin="ngForm">
                <div class="form-group">
                    <label class="control-label col-sm-4">Department:</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="searchModel.eventDept" name="eventDept" #name="ngModel">
                            <option [ngValue]="undefined">-- select --</option>
                            <option *ngFor="let dep of departmentColl" [ngValue]="dep.deptCode">
                                {{dep.deptName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="btn">
                    <button class="btn btn-info " (click)="searchEvent()">Search</button>
                    <button class="btn btn-info" (click)="clearSearch()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /form-fields-->
<!-- Event listing -->
<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">
                    <i class="fa fa-folder-open"></i>
                    Event List
                </h4>
         
            <div class="input-group pull-right">
                <span class="tooltiptext" title="Approve">
                    <button class="btn btn-success" (click)="approveEvent()" [disabled]="!buttonEnableDisable">
                        <i class="fa fa-check"></i>
                    </button>
                </span>
                <span class="tooltiptext" title="Cancel">
                    <button class="btn btn-danger" (click)="cancelEvent()">
                        <i class="fa fa-window-close-o"></i>
                    </button>
                </span>
                <span class="tooltiptext" title="Close">
                    <button class="btn btn-warning" (click)="closeEvent()">
                        <i class="fa fa-object-group"></i>
                    </button>
                </span>
                <span class="tooltiptext" title="Reopen">
                    <button class="btn btn-primary" (click)="reopenEvent()">
                        <i class="fa fa-folder-open-o"></i>
                    </button>
                </span>
                <span class="tooltiptext" title="Edit">
                        <button class="btn btn-success" id="btn_edit" data-toggle="modal" data-target=".myModalediteventHdr" [disabled]="!buttonEnableDisable">
                        <i class="fa fa-pencil-square-o"></i>
                        </button>
                </span>
            </div>
        </div>
    </div>

    
        <div class="col-xs-8 col-xs-offset-2 well" style="padding:0px">
            
            <table id="event" class="table table-scroll table-striped table-bordered table-hover">
                <thead>
                    <tr style="color:white;background-color:rgb(135, 163, 216)">
                        <th> CreatedTime</th>
                        <th> EventTime</th>
                        <th> CreatedBy</th>
                        <th> EventNo</th>
                        <th> Dept</th>
                        <th> Location</th>
                        <th> Category</th>
                        <th> SubCategory</th>
                        <th> Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of eventColl; let i = index" (click)="selectedId(req.eventId)" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                        <td>
                            {{req.createdTime|date:'dd-MM-yyyy hh:mm:ss a'}}
                        </td>
                        <td>
                            {{req.eventTime|date:'dd-MM-yyyy hh:mm:ss a'}}
                        </td>
                        <td>
                            {{req.createdBy}}
                        </td>
                        <td>
                         {{req.eventNo}}
                        </td>
                        <td>
                            {{req.qaEventDepartmentMast.deptName}}
                        </td>
                        <td>
                            {{req.qaEventLocationMast.locationName}}
                        </td>
                        <td>
                            {{req.qaCategoryMast.categoryDesc}}
                        </td>
                        <td>
                            {{req.qaSubCategoryMast.subCatDesc}}
                        </td>
                        <td>
                            {{req.qaEventStatusMast.statusDesc}}
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
 

</div>

<!-- Trigger the modal with a button editEventHDR-->
<div class="modal fade myModalediteventHdr" id="myModalediteventHdr" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                
                <form class="form-horizontal" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please edit Event details for {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                        <div class="col-sm-2">
                            Event Time
                        </div>
                        <div class="col-sm-10">
                        
                                <input type="date" id="date" class="form-control" id="eventTime" [(ngModel)]="qaEventHdr.eventTime"  name="eventTime" #name="ngModel">   
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-2">
                                Location
                        </div>
                        <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="qaEventHdr.eventLocation"  name="eventLocation" #name="ngModel">
                                    <option *ngFor="let loc of locationColl" [ngValue]="loc.locationCode">
                                    {{loc.locationName}}</option>
                                </select>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-2">
                                Department
                        </div>
                        <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="qaEventHdr.eventDept" name="eventDept" required #name="ngModel">
                                        <option *ngFor="let dep of departmentColl" [ngValue]="dep.deptCode">
                                        {{dep.deptName}}</option>
                                </select>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-2">
                                Category
                        </div>
                        <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="qaEventHdr.eventCategory" required name="eventCategory" #name="ngModel" (change)="firstDropDownChanged($event.target.selectedIndex - 1)">
                                        <option>Select</option>
                                        <option *ngFor="let cat of categoryColl" [ngValue]="cat.categoryCode">
                                            {{cat.categoryDesc}}</option>
                                    </select>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-2">
                                Sub Category
                        </div>
                        <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="qaEventHdr.eventSubCategory" required name="eventSubCategory" #name="ngModel">
                                        <option *ngFor="let subcat of subcategory" [ngValue]="subcat.subCatCode">
                                            {{subcat.subCatDesc}}</option>
                                    </select>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="editHdr()" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </form>
               
            </div>
        </div>
    </div>

<!-- **********************TABSET BEGINS ************************-->

<tabset>
    <tab heading="Description" id="tab_align" >
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='I'" (click)="selectedMessage(item)" [class.active]="item == selectedRow">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} &nbsp; &nbsp;{{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details" id="pre"> {{item.msgDesc}} <br></td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditDescription" [disabled]="!buttonEnableDisable">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- Trigger the modal with a button editDescription-->
        <div class="modal fade myModaleditDescription" id="myModaleditDescription" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please edit Description for Message {{this.messageItem.messageId}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">
                                Edit Description
                            </div>
                            <div class="col-sm-10">
                             <textarea class="form-control" rows="7" type="text" [(ngModel)]="messageItem.msgDesc" >
                            </textarea>   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editDescription()"  data-dismiss="modal">Edit</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tab>
   <!-- TAB FOR NOTIFIED USERS-->
   <tab heading="Notified Users" id="tab_align">
    <!-- Trigger the modal with a button createUser-->
    <div class="modal fade myModalcreateUser" id="myModalcreateUser" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add User for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2">
                            Name
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control" [(ngModel)]="userItem.persCode"  name="persCode" #name="ngModel">
                                <option *ngFor="let cre of persColl" [ngValue]="cre.persCode">
                                    {{cre.printName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="createUser()" data-dismiss="modal">Add user</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr style="color:white;background-color:rgb(135, 163, 216)">
                <th> Details </th>
                <th> Description </th>
                <th>
                    <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateUser" >
                        Add Users
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let obj of user">
                <tr (click)="selectedUser(obj)" [class.active]="obj == selectedRow">
                    <td class="description">
                        {{obj.qaEventUserTypeMast.typeDesc}}
                    </td>
                    <td class="details"> {{obj.qaPersonalMast.printName}}
                    </td>
                    <td>
                        <span class="tooltiptext" title="Please select and delete user">
                            <button class="btn btn-danger" (click)="deleteUser(obj)" [disabled]="!buttonEnableDisable">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</tab>
<!-- END OF NOTIFIED USERS-->

   <!-- TAB FOR COMPONENT-->
   <tab heading="Comments" id="tab_align">
    <!-- Trigger the modal with a button createComment-->
    <div class="modal fade myModalcreateComment" id="myModalcreateComment" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add Comment for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Enter Comment</div>
                        <div class="col-sm-10">
                                <textarea class="form-control"  rows="7" type="text"  [(ngModel)]="messageItem.msgDesc" >
                                </textarea>
                           </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="createComment()"data-dismiss="modal">Create</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr style="color:white;background-color:rgb(135, 163, 216)">
                <th> Details </th>
                <th> Description </th>
                <th>
                    <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateComment" [disabled]="!buttonEnableDisable||!p_createQaEventComment">
                        Add comments
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of msg">
                <tr *ngIf="item.msgType=='S'" (click)="selectedMessage(item)">
                    <td class="description">
                        {{item.qaPersonalMast.printName}} &nbsp; &nbsp;{{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                    </td>
                    <td class="details" id="pre"> {{item.msgDesc}}</td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditComment" [disabled]="!buttonEnableDisable || !p_editQaEventComment">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <!-- Trigger the modal with a button editComment-->

    <div class="modal fade myModaleditComment" id="myModaleditComment" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please edit Comment for Message {{this.messageItem.messageId}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Edit Comment</div>
                        <div class="col-sm-10">
                                 <textarea class="form-control" rows="7" type="text"  [(ngModel)]="messageItem.msgDesc" >
                                    </textarea> 
                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="editComment()"data-dismiss="modal">Edit</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</tab>
   <!--END OF TAB COMPONENT-->
   <!--ACTION TAB BEGINS-->
   <tab heading="Action Taken" id="tab_align">
    <!-- Trigger the modal with a button createAction-->
    <div class="modal fade myModalcreateAction" id="myModalcreateAction" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add Action for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2">Enter Action</div>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                    </textarea> 
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="createAction()"data-dismiss="modal">Create</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr style="color:white;background-color:rgb(135, 163, 216)">
                <th> Details </th>
                <th> Description </th>
                <th>
                    <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateAction" [disabled]="!buttonEnableDisable ||!p_createQaEventAction">
                        Add Actions
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of msg">
                <tr *ngIf="item.msgType=='A'" (click)="selectedMessage(item)">
                    <td class="description">
                        {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                    </td>
                    <td class="details"id="pre"> {{item.msgDesc}}</td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditAction" [disabled]="!buttonEnableDisable || !p_editQaEventAction">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <!-- Trigger the modal with a button editAction-->
    <div class="modal fade myModaleditAction" id="myModaleditAction" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add Action for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2">Edit Action</div>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="editAction()" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</tab>
   <!-- END OF ACTION TAB -->
   <!-- TAB RECOMMENDATIONS-->
   <tab heading="Recommendations" id="tab_align">
    <!-- Trigger the modal with a button createRecommentation-->
    <div class="modal fade myModalcreateRecommentation" id="myModalcreateRecommentation" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add Recommentation for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Enter Recommentation</div>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                    </textarea>
                    </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="createRecommendation()"data-dismiss="modal">Create</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr style="color:white;background-color:rgb(135, 163, 216)">
                <th> Details </th>
                <th> Description </th>
                <th>
                    <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateRecommentation" [disabled]="!buttonEnableDisable ||!p_createQaEventRecommentation">
                        Add Recommendations
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of msg">
                <tr *ngIf="item.msgType=='R'" (click)="selectedMessage(item)">
                    <td class="description">
                        {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                    </td>
                    <td class="details"id="pre"> {{item.msgDesc}}</td>
                    <td>

                        <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditRecommentation" [disabled]="!buttonEnableDisable ||!p_editQaEventRecommentation">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <!-- Trigger the modal with a button editRecomentation-->
    <div class="modal fade myModaleditRecommentation" id="myModaleditRecommentation" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Edit Recommendations for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Edit Recommendation</div>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                    </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="editRecommendation()"data-dismiss="modal">Edit</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</tab>
<!--TAB CONSEQUENCES-->
<tab heading="Consequences" id="tab_align">
      <!-- Trigger the modal with a button createConsequences-->
    <div class="modal fade myModalcreateConsequences" id="myModalcreateConsequences" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please add Consequences for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Enter Consequences</div>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                            </textarea>
                     </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="createConsequences()"data-dismiss="modal">Create</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr style="color:white;background-color:rgb(135, 163, 216)">
                <th> Details </th>
                <th> Description </th>
                <th>
                    <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateConsequences" [disabled]="!buttonEnableDisable|| !p_createQaEventConsequences">
                        Add Consequences
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of msg">
                <tr *ngIf="item.msgType=='C'" (click)="selectedMessage(item)">
                    <td class="description">
                        {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                    </td>
                    <td class="details"id="pre"> {{item.msgDesc}}</td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditConsequences" [disabled]="!buttonEnableDisable ||!p_editQaEventConsequences">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <!-- Trigger the modal with a button editConsequences-->
    <div class="modal fade myModaleditConsequences" id="myModaleditConsequences" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please edit Consequences for Event {{this.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-sm-2"> Enter Consequences</div>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc"  >
                                    </textarea>      
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="editConsequences()"data-dismiss="modal">Edit</button>
                    <button type="button" class="btn " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
</tab>

   <!--END OF CONSEQUENCES-->
   <!--WITNESS TAB BEGINS-->
   <tab heading="Witness List" id="tab_align">
        
    <!--modal for add witness-->
    <div class="modal fade myModalcreateWitnessevent" id="myModalcreateWitnessevent" role="dialog">
           <div class="modal-dialog ">
               <!-- Modal content-->
               <div class="modal-content">
                    <form class="form-horizontal"> 
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Create Event Witnessess</h4>
                   </div>
                   <div class="modal-body">
                       <div class="container-fluid">
                           <div class="form-group">
                               <div class="col-sm-4">Witness Name</div>
                                   <div class="col-sm-8">
                                           <select class="form-control" [(ngModel)]="witnessItem.persCode" name="persCode" >
                                                   <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                                       {{cre.printName}}</option>
                                               </select>  
                                   </div>
                            </div>
                            <div class="form-group">
                           <div class="col-sm-4"> Remarks</div>
                           <div class="col-sm-8">
                            <textarea class="form-control" rows="7" type="text" [(ngModel)]="witnessItem.remarks"  name="remarks" #name="ngModel" >
                           </textarea>   
                           </div>
                        </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-success" (click)="createWitness()" data-dismiss="modal">Create</button>
                       <button type="button" class="btn" data-dismiss="modal">Close</button>
                   </div>
                   </form>
               </div>
           </div>
       </div>

   <!-- end of create witness modal-->
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
   <tr style="color:white;background-color:rgb(135, 163, 216)">
       <th> Name </th>
       <th> Remarks </th>
       <th>
           <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateWitnessevent" [disabled]="!buttonEnableDisable">
               Add Witness
               <i class="fa fa-plus"></i>
               </button>

               
       </th>
   </tr>
</thead>
<tbody>
   <ng-container *ngFor="let wit of witness">
       <tr (click)="selectedWitness(wit)" [class.active]="wit == selectedRow">
           <td>
               {{wit.qaPersonalMast.printName}}
           </td>
           <td> {{wit.remarks}}</td>
           <td>
                <span class="tooltiptext" title="Please select and edit witness">
               <button class="btn btn-info" data-toggle="modal" data-target=".modalEditWitnessevent" [disabled]="!buttonEnableDisable">
               <i class="fa fa-pencil-square-o"></i>
              </button>
                </span>
                <span class="tooltiptext" title="Please select and delete witness">
              <button class="btn btn-danger" (click)="deleteWitness()" [disabled]="!buttonEnableDisable" >
                  <i class="fa fa-trash-o"></i>
                 </button>
                </span></td>
       </tr>
   </ng-container>
</tbody>
</table>

<!--modal for edit witness-->
<div class="modal fade modalEditWitnessevent" id="modalEditWitnessevent" role="dialog">
<div class="modal-dialog ">
   <!-- Modal content-->
   <div class="modal-content">
        <form class="form-horizontal"> 
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Edit Event Witnessess</h4>
       </div>
       <div class="modal-body">
           <div class="container-fluid">
               <div class="form-group">
                   <div class="col-sm-4">Witness Name</div>
                       <div class="col-sm-8">
                               <select class="form-control" [(ngModel)]="witnessItem.persCode" name="persCode" >
                                       <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                           {{cre.printName}}</option>
                                   </select>  
                       </div>
                </div>
                <div class="form-group">
               <div class="col-sm-4"> Remarks</div>
               <div class="col-sm-8">
                <textarea class="form-control" rows="7" type="text" [(ngModel)]="witnessItem.remarks"  name="remarks" #name="ngModel" >
               </textarea>   
               </div>
            </div>
           </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-success" (click)="editWitness()" data-dismiss="modal">Edit</button>
           <button type="button" class="btn" data-dismiss="modal">Close</button>
       </div>
       </form>
   </div>
</div>
</div>
</tab> 
   <!--END OF WITNESS TAB-->
   <!--******************parameter info tab begins ********************-->
   <tab heading="Patient Info" id="tab_align" >
    <div class="row">
        
    <form class="form-vertical" role="form" id="contactRequest"  autocomplete="off">
            <div class="form-group">
                   <div class="col-sm-3">
                    <input type="text" class="form-control"  placeholder="PATIENT NO" readonly>
                   </div>
                   <div hidden>
                        <input type="number" class="form-control" id="paramId" [(ngModel)]="paramItem.paramId" name="paramId"  #name="ngModel">
                    </div>
                   <div class="col-sm-3">
                        <input type="number" class="form-control" id="paramValue" [(ngModel)]="paramItem.paramValue" name="paramValue" #name="ngModel">
                    </div>
                           
                            <div *ngIf= "paramItem.paramId; else elseBlock" >
                                <button class="btn btn-info" (click)="editParameters()" [disabled]="!buttonEnableDisable">Edit
                                <i class="fa fa-pencil-square-o"></i>
                            </button>

                            <button class="btn btn-danger" (click)="deleteParameter()" [disabled]="!buttonEnableDisable">Delete
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                            <ng-template #elseBlock>
                                <button class="btn btn-info" (click)="createParameters()" [disabled]="!buttonEnableDisable">Add
                                    <i class="fa fa-plus"></i>
                                    </button>
          
                            </ng-template>
                    
            </div>
           </form>
        </div>
    </tab>

   <!--******************end of parameter info **********************-->
     
</tabset>


<!-- ************************TABSET ENDS ************************-->

<!-- **************Print Section ***************-->
<div id="printevent" style="display:none;">
        <div class="col-xs-8 col-xs-offset-2 well" style="padding:0px">
            
            <table id="event" class="table table table-scroll table-striped table-bordered table-hover">
                <thead>
                    <tr style="color:white;background-color:rgb(135, 163, 216)">
                        
                        <th> EventNo</th>
                        <th> EventTime</th>
                        <th> Dept</th>
                        <th> Location</th>
                        <th> Category</th>
                        <th> SubCategory</th>
                        <th> Status</th>
                        <th>Patient No</th>
                        <th>Message Details</th>
                        <th>Witness Details</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of eventColl; let i = index" (click)="selectedId(req.eventId)" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                        <td>
                            {{req.eventNo}}
                        </td>
                        <td>
                            {{req.eventTime|date:'dd-MM-yyyy hh:mm:ss a'}}
                        </td>
                        <td>
                            {{req.qaEventDepartmentMast.deptName}}
                        </td>
                        <td>
                            {{req.qaEventLocationMast.locationName}}
                        </td>
                        <td>
                            {{req.qaCategoryMast.categoryDesc}}
                        </td>
                        <td>
                            {{req.qaSubCategoryMast.subCatDesc}}
                        </td>
                        <td>
                            {{req.qaEventStatusMast.statusDesc}}
                        </td>
                        <td>
                            <ul><li *ngFor="let par of req.qaEventParametersVew">
                                {{par.paramValue}}
                            </li></ul>
                        </td>
                       <td>
                        <ul>
                            <li  *ngFor="let obj of req.qaEventMessagesVew">
                               <div>{{obj.msgDesc}}</div>
                               <div>{{obj.qaMessageTypeMast.typeDesc}} entered By {{obj.qaPersonalMast.printName}}</div>
                               
                        </li>
                      </ul>
                       </td>
                       <td>
                        <ul>
                            <li  *ngFor="let wit of req.qaEventWitnessesVew">
                               <div>{{wit.qaPersonalMast.printName}}</div>
                               <div>{{wit.remarks}} </div>
                               
                        </li>
                      </ul>
                       </td>
                     
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>