
   
    #btn
    {
        text-align: right;
        margin-right: inherit;
    }
    .well
    {
         background: none;
         height: 400px;
         width: 100%;
     }
     .col-xs-offset-2 
     {
      margin-left: 0px;
     }
     thead
     {
         display: table-header-group;
         vertical-align: middle;
         border-color: inherit;
         background: grey;
         color:white;
         
     }
     
     .table-scroll tr 
     {
         width: 100%;
         table-layout: fixed;
         display: inline-table;
        
     }
      .table-scroll tbody {
         position: absolute;
         overflow-y: scroll;
         height: 320px;
         text-align: left;
         word-wrap: break-word;
     }
     
     .table-scroll tr {
         width: 100%;
         table-layout: fixed;
         display: inline-table;
     }
     
     .table-scroll thead > tr > th {
         border: none;
     } 
     .table tr.active td {
       background-color:#415e7a !important;
       color: white;
     }
     .table tr{
         word-break: break-all;
     }
     .table td{
         word-break: break-all;
     }
   
     .angular-with-newlines {
       white-space: pre-line;
       white-space:-moz-pre-space;
    }
    
    button.bgcolor:focus {
        background: olive;
    }
    #pre {
    
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-line;
    }
    
    .text-align{
       
        margin-left: 15px;
        margin-right: 15px;
    }

    #td_btn{
        text-align: justify;
        line-height: 2.5em;
    }

    #tab_align{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
       
    }
   #btn_edit{
    margin-left: 0px;
    background-color: blue;
    border: blue;
   }
   @media(max-width:768px) {
   #btn_edit{
    margin-left: 0px;
    background-color: blue;
    border: blue;
   }
}
