<div class="container-fluid">
  <div class="row">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
            <i class="fa fa-folder-open"></i> SubCategory Master List</h4>
        <div class="input-group pull-right">
      <button class="btn btn-warning panel-title" (click)="refresh()">
        <i class="fa fa-refresh"></i> Refresh </button>
      &nbsp;
      <button class="btn btn-primary panel-title" (click)="print()">
        <i class="fa fa-print"></i> Print </button>
      </div>
    </div>
    <!-- PRINT SCETION -->
    <div id="printSection" style="display:none;">
      <div class="panel-body">
        <table class="table table-bordered table-stripped">
          <thead>
            <tr style="color:rgb(9, 10, 10);background-color:rgb(10, 9, 10)">
              <th> Sub Category</th>
              <th> Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let req of modelColl">
              <td> {{req.subCatDesc}}</td>
              <td> {{req.categoryDesc}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--END OF PRINT SECTION -->
    <div class="panel-body">

        <div class="col-xs-8 col-xs-offset-2 well" style="padding:0px">
      <table class="table table-scroll table-striped table-bordered table-hover">
        <thead>
          <tr style="color:white;background-color:rgb(135, 163, 216)">
            <th> Sub Category</th>
            <th> Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of modelColl">
            <td> {{req.subCatDesc}}</td>
            <td> {{req.categoryDesc}}</td>
            <td>
              <div class="input-group pull-right">
                <button class="btn btn-info" (click)="editItem(req)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>&nbsp;
                <button class="btn btn-danger" (click)="removeItem(req)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <label *ngIf="modelItem.subCatCode; else elseBlock">
        <i class="fa fa-pencil-square-o"></i> EDIT MODE </label>
      <ng-template #elseBlock>
        <i class="fa fa-plus-square-o"></i>ADD MODE</ng-template>
      <button class="btn btn-warning panel-title pull-right" (click)="clearModel()">
        <i class="fa fa-eraser"></i> CLEAR </button>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="saveInfo()" #heroForm="ngForm">
        <div class="table">
          <div class="table-row-head">
            <div class="table-head">Category</div>
            <div class="table-cell">
              <select class="form-control" [(ngModel)]="modelItem.categoryCode" required name="categoryCode" #name="ngModel">
                <option *ngFor="let cat of category" [ngValue]="cat.categoryCode">
                  {{cat.categoryDesc}}</option>
              </select>
            </div>
          </div>
          <div class="table-row-head">
            <div class="table-head">Sub category </div>
            <div class="table-cell">
              <textarea  class="form-control" rows="2"  type="text" id="subCatDesc" [(ngModel)]="modelItem.subCatDesc"
                required name="subCatDesc" #name="ngModel"></textarea>
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <button class="btn btn-success" type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">
                <i class="fa fa-floppy-o"></i> SAVE </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>