<tabset>
    <tab heading="Description" id="tab_align" >
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='I'" (click)="selectedMessage(item)" [class.active]="item == selectedRow">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} &nbsp; &nbsp;{{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details" id="pre"> {{item.msgDesc}} <br></td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditDescription">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- Trigger the modal with a button editDescription-->
        <div class="modal fade myModaleditDescription" id="myModaleditDescription" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please edit Description for Message {{this.messageItem.messageId}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">
                                Edit Description
                            </div>
                            <div class="col-sm-10">
                             <textarea class="form-control" rows="7" type="text" [(ngModel)]="messageItem.msgDesc" >
                            </textarea>   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editDescription()" data-dismiss="modal">Edit</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tab>

    <tab heading="Notified Users" id="tab_align">
        <!-- Trigger the modal with a button createUser-->
        <div class="modal fade myModalcreateUser" id="myModalcreateUser" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add User for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">
                                Name
                            </div>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="userItem.persCode"  name="persCode" #name="ngModel">
                                    <option *ngFor="let cre of persColl" [ngValue]="cre.persCode">
                                        {{cre.printName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createUser()" data-dismiss="modal">Add user</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateUser">
                            Add Users
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let obj of user">
                    <tr (click)="selectedUser(obj)" [class.active]="obj == selectedRow">
                        <td class="description">
                            {{obj.qaEventUserTypeMast.typeDesc}}
                        </td>
                        <td class="details"> {{obj.qaPersonalMast.printName}}
                        </td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditUser">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>&nbsp;
                            <button class="btn btn-danger" (click)="deleteUser(obj)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <!-- Trigger the modal with a button editUser-->
        <div class="modal fade myModaleditUser" id="myModaleditUser" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please edit user</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">Edit Name:</div>
                            <div class="col-sm-10">
                                <select class="form-control" [(ngModel)]="userItem.persCode"  name="persCode" #name="ngModel">ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                                    <option *ngFor="let cre of persColl" [ngValue]="cre.persCode">
                                        {{cre.printName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editUser()"data-dismiss="modal">Edit</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tab>

    <tab heading="Comments" id="tab_align">
        <!-- Trigger the modal with a button createComment-->
        <div class="modal fade myModalcreateComment" id="myModalcreateComment" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add Comment for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Enter Comment</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control"  rows="7" type="text"  [(ngModel)]="messageItem.msgDesc" >
                                    </textarea>
                               </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createComment()"data-dismiss="modal">Create</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateComment">
                            Add comments
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='S'" (click)="selectedMessage(item)">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} &nbsp; &nbsp;{{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details" id="pre"> {{item.msgDesc}}</td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditComment">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- Trigger the modal with a button editComment-->

        <div class="modal fade myModaleditComment" id="myModaleditComment" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please edit Comment for Message {{this.messageItem.messageId}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Edit Comment</div>
                            <div class="col-sm-10">
                                     <textarea class="form-control" rows="7" type="text"  [(ngModel)]="messageItem.msgDesc" >
                                        </textarea> 
                               
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editComment()"data-dismiss="modal">Edit</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Action Taken" id="tab_align">
        <!-- Trigger the modal with a button createAction-->
        <div class="modal fade myModalcreateAction" id="myModalcreateAction" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add Action for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">Enter Action</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                        </textarea> 
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createAction()"data-dismiss="modal">Create</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateAction">
                            Add Actions
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='A'" (click)="selectedMessage(item)">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details"id="pre"> {{item.msgDesc}}</td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditAction">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <!-- Trigger the modal with a button editAction-->
        <div class="modal fade myModaleditAction" id="myModaleditAction" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add Action for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2">Edit Action</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                        </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editAction()"data-dismiss="modal">Edit</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </tab>
    <tab heading="Recommendations" id="tab_align">
        <!-- Trigger the modal with a button createRecommentation-->
        <div class="modal fade myModalcreateRecommentation" id="myModalcreateRecommentation" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add Recommentation for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Enter Recommentation</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                        </textarea>
                        </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createRecommendation()"data-dismiss="modal">Create</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateRecommentation">
                            Add Recommendations
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='R'" (click)="selectedMessage(item)">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details"id="pre"> {{item.msgDesc}}</td>
                        <td>

                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditRecommentation">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- Trigger the modal with a button editRecomentation-->
        <div class="modal fade myModaleditRecommentation" id="myModaleditRecommentation" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please Edit Recommendations for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Edit Recommendation</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editRecommendation()"data-dismiss="modal">Edit</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Consequences" id="tab_align">
          <!-- Trigger the modal with a button createConsequences-->
        <div class="modal fade myModalcreateConsequences" id="myModalcreateConsequences" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please add Consequences for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Enter Consequences</div>
                            <div class="col-sm-10">
                            <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc" >
                                </textarea>
                         </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="createConsequences()"data-dismiss="modal">Create</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Details </th>
                    <th> Description </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateConsequences">
                            Add Consequences
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of msg">
                    <tr *ngIf="item.msgType=='C'" (click)="selectedMessage(item)">
                        <td class="description">
                            {{item.qaPersonalMast.printName}} {{item.entryTime|date:'dd-MM-yyyy hh:mm:ss'}}
                        </td>
                        <td class="details"id="pre"> {{item.msgDesc}}</td>
                        <td>
                            <button class="btn btn-info" data-toggle="modal" data-target=".myModaleditConsequences">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- Trigger the modal with a button editConsequences-->
        <div class="modal fade myModaleditConsequences" id="myModaleditConsequences" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please edit Consequences for Event {{this.id}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-sm-2"> Enter Consequences</div>
                            <div class="col-sm-10">
                                    <textarea class="form-control" rows="7" type="text" class="form-control" [(ngModel)]="messageItem.msgDesc"  >
                                        </textarea>      
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editConsequences()"data-dismiss="modal">Edit</button>
                        <button type="button" class="btn " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </tab>
    
     <!--**************witness details*************-->
    <tab heading="Witness List" id="tab_align">
        
                 <!--modal for add witness-->
                 <div class="modal fade myModalcreateWitnessevent" id="myModalcreateWitnessevent" role="dialog">
                        <div class="modal-dialog ">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Create Event Witnessess</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                            <div class="col-sm-4">Witness Name</div>
                                                <div class="col-sm-8">
                                                        <select class="form-control" [(ngModel)]="witnessItem.persCode" name="persCode" >
                                                                <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                                                    {{cre.printName}}</option>
                                                            </select>  
                                                </div>
                                        <div class="col-sm-4"> Remarks</div>
                                        <div class="col-sm-8">
                                         <textarea class="form-control" rows="7" type="text" [(ngModel)]="witnessItem.remarks" >
                                        </textarea>   
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="createWitness()" data-dismiss="modal">Create</button>
                                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- end of create witness modal-->
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr style="color:white;background-color:rgb(135, 163, 216)">
                    <th> Name </th>
                    <th> Remarks </th>
                    <th>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target=".myModalcreateWitnessevent">
                            Add Witness
                            <i class="fa fa-plus"></i>
                            </button>

                            
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let wit of witness">
                    <tr (click)="selectedWitness(wit)" [class.active]="wit == selectedRow">
                        <td>
                            {{wit.qaPersonalMast.printName}}
                        </td>
                        <td> {{wit.remarks}}</td>
                        <td><button class="btn btn-info" data-toggle="modal" data-target=".modalEditWitnessevent">
                            <i class="fa fa-pencil-square-o"></i>
                           </button>
                           <button class="btn btn-danger" (click)="deleteWitness()"  >
                               <i class="fa fa-trash-o"></i>
                              </button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

         <!--modal for witness-->
         <div class="modal fade modalEditWitnessevent" id="modalEditWitnessevent" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Event Witnessess</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                                <div class="col-sm-4">Witness Name</div>
                                    <div class="col-sm-8">
                                            <select class="form-control" [(ngModel)]="witnessItem.persCode" name="persCode" >
                                                    <option *ngFor="let cre of persColl"  [ngValue]="cre.persCode">
                                                        {{cre.printName}}</option>
                                                </select>  
                                    </div>
                            <div class="col-sm-4"> Remarks</div>
                            <div class="col-sm-8">
                             <textarea class="form-control" rows="7" type="text" [(ngModel)]="witnessItem.remarks" >
                            </textarea>   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editWitness()" data-dismiss="modal">Edit</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- end of edit witness modal-->
    </tab> 
    <!--*************end of witness************-->
</tabset>