
<div class="container-fluid">
    
  <div class="panel panel-default">
 






<div class="panel-heading clearfix">
<h4 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="fa fa-folder-open">
  </i> <b>Kiosk Shedule List</b></h4>  
  <div class="input-group pull-right">


<button class="btn btn-warning panel-title" (click)="print()">
<i class="fa fa-print"></i> Print </button>   &nbsp;

<button class="btn btn-warning panel-title"  (click)="tableToExcel('Kiosk-Schedule','Kiosk Shedule Report')" >
  <span class="glyphicon glyphicon-export"></span>Export to excel </button> 
   <!--<a href="#" class="btn btn-info btn-lg"  (click)="tableToExcel('token','Token Details')">
    </a>-->
    <span class="tooltiptext" title="Create">
      <button class="btn btn-success" data-toggle="modal" data-target=".myModalcreateshedule">
          <i class="fa fa-plus"  ></i>
      </button>
  </span>
  <span class="tooltiptext" title=" Please select and edit shedule">
    <button class="btn btn-primary" id="btn_edit" data-toggle="modal" data-target=".myModaleditshedule" >
    <i class="fa fa-pencil-square-o"></i>
    </button>
</span>
<span class="tooltiptext" title="Please select and delete schedule">
  <button class="btn btn-danger" (click)="deleteShedule()">
      <i class="fa fa-window-close-o"></i>
  </button>
</span>
</div> 
</div>


<!-- Trigger the modal with a button createshedule-->
<div class="modal fade myModalcreateshedule" id="myModalcreateshedule" role="dialog">
  <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
          
          <form class="form-horizontal" novalidate (ngSubmit)="createShedule()" #heroForm="ngForm" autocomplete="off">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Please create Kiosk shedule</h4>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="form-group">
                  <div class="col-sm-2">
                      From Time
                  </div>
                  <div class="col-sm-10">
                  
                          <input type="number"  class="form-control" id="fromTime" [(ngModel)]="createkioskSheduleItem.fromTime"  name="fromTime" #name="ngModel"  required>   
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                        To Time
                    </div>
                    <div class="col-sm-10">
                    
                            <input type="number"  class="form-control" id="fromTime" [(ngModel)]="createkioskSheduleItem.toTime"  name="toTime" #name="ngModel"  required>   
                    </div>
                    </div>
                  <div class="form-group">
                  <div class="col-sm-2">
                          Shedule Day
                  </div>
                  <div class="col-sm-10">
                    <select class="form-control" [(ngModel)]="createkioskSheduleItem.scheduleDay" name="scheduleDay" #name="ngModel">
                      <option [ngValue]="undefined">-- select --</option>
                      <option *ngFor="let day of days" [value]="day">
                          {{day}}</option>
                  </select>
                  </div>
                  </div>

                 
                  <div class="form-group">
                    <div class="col-sm-2"> Remarks</div>
                    <div class="col-sm-10">
                     <textarea class="form-control" rows="3" type="text" [(ngModel)]="createkioskSheduleItem.remarks" name="remarks" #name="ngModel">
                    </textarea>   
                    </div>
                </div>
               
             
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="createShedule()" data-dismiss="modal"  [disabled]=" !heroForm.form.valid">Create</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
      </form>
         
      </div>
  </div>
</div>

<!-- Trigger the modal with a button editshedule-->
<div class="modal fade myModaleditshedule" id="myModaleditshedule" role="dialog">
  <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
          
          <form class="form-horizontal" >
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Please create Kiosk shedule</h4>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="form-group">
                  <div class="col-sm-2">
                      From Time
                  </div>
                  <div class="col-sm-10">
                  
                          <input type="number"  class="form-control" id="fromTime" [(ngModel)]="kioskSheduleItem.fromTime"  name="fromTime" #name="ngModel">   
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                        To Time
                    </div>
                    <div class="col-sm-10">
                    
                            <input type="number"  class="form-control" id="fromTime" [(ngModel)]="kioskSheduleItem.toTime"  name="toTime" #name="ngModel">   
                    </div>
                    </div>
                  <div class="form-group">
                  <div class="col-sm-2">
                          Shedule Day
                  </div>
                  <div class="col-sm-10">
                    <select class="form-control" [(ngModel)]="kioskSheduleItem.scheduleDay" name="scheduleDay" #name="ngModel">
                      <option [ngValue]="undefined">-- select --</option>
                      <option *ngFor="let day of days" [value]="day">
                          {{day}}</option>
                  </select>
                  </div>
                  </div>

                 
                  <div class="form-group">
                    <div class="col-sm-2"> Remarks</div>
                    <div class="col-sm-10">
                     <textarea class="form-control" rows="3" type="text" [(ngModel)]="kioskSheduleItem.remarks" name="remarks" #name="ngModel">
                    </textarea>   
                    </div>
                </div>
               
             
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="editSchedule()" data-dismiss="modal">Edit</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
      </form>
         
      </div>
  </div>
</div>

<div id="Kiosk-Schedule">

 <div class="col-xs-8 col-xs-offset-2 well">
        
      <table id="Kiosk-Schedule" class="table table-scroll table-striped table-bordered table-hover table-condensed">
            
        <thead>
              <tr style="color:white;background-color:rgb(135, 163, 216)">
            
                 <th width="10%">From Time</th> 
                 <th width="10%" >To Time</th> 
                 <th width="10%" (click)="sortTable(2)">ScheduleDay&nbsp;<i class="fa fa-sort-down"></i> </th> 
                 <th width="50%">Remarks</th> 
               
                                    
             </tr>                  
            </thead>
            <tbody id="people">
                
                            <tr *ngFor="let req of kioskSheduleColl" (click)="selectedShedule(req)" [class.active]="req == selectedRow"> 
                                    <td width="10%"> {{req.fromTime}}</td>
                                    <td width="10%"> {{req.toTime}}</td>
                                    <td width="10%"> {{req.scheduleDay}}</td>
                                    <td width="50%"> {{req.remarks}}</td>
                                   
                               
                                </tr>
                              
                          </tbody>
      </table>
  </div>

</div>

 




                  
    
</div>

