<div class="container-fluid">
  <div class="row">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
        <i class="fa fa-folder-open"></i> Category Master List</h4>
      <button class="btn btn-warning panel-title pull-right" (click)="refresh()">
        <i class="fa fa-refresh"></i> Refresh </button>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr style="color:white;background-color:rgb(135, 163, 216)">
            <th> CategoryCode</th>
            <th> CategoryDesc</th>
            <th> PrevId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of modelColl">
            <td> {{req.categoryCode}}</td>
            <td> {{req.categoryDesc}}</td>
            <td> {{req.prevId}}</td>
            <td>
              <div class="input-group pull-right">
                <button class="btn btn-info" (click)="editItem(req)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>&nbsp;
                <button class="btn btn-danger" (click)="removeItem(req)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <label *ngIf="modelItem.categoryCode; else elseBlock">
        <i class="fa fa-pencil-square-o"></i> EDIT MODE </label>
      <ng-template #elseBlock>
        <i class="fa fa-plus-square-o"></i>
        <b>ADD MODE </b>
      </ng-template>
      <button class="btn btn-warning panel-title pull-right" (click)="clearModel()">
        <i class="fa fa-eraser"></i> CLEAR </button>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="saveInfo()" #heroForm="ngForm" autocomplete="off">
        <div class="table">
          <div class="table-row-head">
            <div class="table-head">CategoryCode:</div>
            <div class="table-cell">
              <input type="number" class="form-control" id="CategoryCode" [(ngModel)]="modelItem.categoryCode" readonly name="categoryCode"
                #name="ngModel">
            </div>
          </div>
          <div class="table-row-head">
            <div class="table-head">CategoryDesc:</div>
            <div class="table-cell">
              <input type="text" class="form-control" required id="CategoryDesc" [(ngModel)]="modelItem.categoryDesc" name="categoryDesc"
                #name="ngModel">
            </div>
          </div>
          <div class="table-row-head">
            <div class="table-head">PrevId:</div>
            <div class="table-cell">
              <input type="number" class="form-control" id="PrevId" [(ngModel)]="modelItem.prevId" name="prevId" #name="ngModel">
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <button class="btn btn-success" type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">
                <i class="fa fa-floppy-o"></i> SAVE </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>