<div class="container-fluid">
  <div class="row">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
        <i class="fa fa-plus-square-o"></i>Event Location users</h4>
        <div class="input-group pull-right">
      <button class="btn btn-warning panel-title" (click)="refresh()">
        <i class="fa fa-refresh"></i> Refresh </button>
      &nbsp;
      <button class="btn btn-primary panel-title" (click)="print()">
        <i class="fa fa-print"></i> Print </button>
      </div>
    </div>
    <!-- PRINT SCETION -->
    <div id="printSection" style="display:none;">
      <div class="panel-body">
        <table class="table table-bordered table-stripped">
          <thead>
            <tr style="color:rgb(9, 10, 10);background-color:rgb(10, 9, 10)">
              <th> LocationName</th>
              <th> StaffName</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let req of modelColl">
              <td> {{req.location}}</td>
              <td> {{req.StaffName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--END OF PRINT SECTION -->
    <div class="panel-body">
      <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
          <tr style="color:white;background-color:rgb(135, 163, 216)">
            <th> LocationName</th>
            <th> StaffName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of modelColl">
            <td> {{req.location}}</td>
            <td> {{req.StaffName}}</td>
            <td>
              <div class="input-group pull-right">
                <button class="btn btn-info" (click)="editItem(req)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>&nbsp;
                <button class="btn btn-danger" (click)="removeItem(req)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

      <label *ngIf="modelItem.runId; else elseBlock">
        <i class="fa fa-pencil-square-o"></i> EDIT MODE </label>
      <ng-template #elseBlock>
        <i class="fa fa-plus-square-o"></i>ADD MODE</ng-template>
      <button class="btn btn-warning panel-title pull-right" (click)="clearModel()">
        <i class="fa fa-eraser"></i> CLEAR </button>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="saveInfo()" #heroForm="ngForm">
        <div class="table">
          <div class="table-row-head">
            <div class="table-head">LocationName</div>
            <div class="table-cell">
            </div>
            <select class="form-control" [(ngModel)]="modelItem.locationCode" required name="locationCode" #name="ngModel">
              <option *ngFor="let loc of qalocation" [ngValue]="loc.locationCode">
                {{loc.locationName}}</option>
            </select>
          </div>
          <div class="table-row-head">
            <div class="table-head">StaffName</div>
            <div class="table-cell">
            </div>
            <select class="form-control" [(ngModel)]="modelItem.persCode" required name="persCode" #name="ngModel">
              <option *ngFor="let pers of staff" [ngValue]="pers.persCode">
                {{pers.printName}}</option>
            </select>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <button class="btn btn-success" type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">
                <i class="fa fa-floppy-o"></i> SAVE </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>