li:hover{
    cursor: pointer;
}
.well{
  background: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #3f51b5;
    color: white;
}
.table tr.active td {
  background-color:#123456 !important;
  color: white;
}

/* TAB styling */

.navbar-default, .navbar-nav .open, .dropdown-menu>li>a { 
        color: black; background-color: transparent; 
    }
    .nav-tabs {
        border-bottom: 2px solid #DDD;
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border-width: 0;
    }
    
    .nav-tabs>li>a {
        border: none;
        color: #ffffff;
        background: firebrick;
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li>a:hover {
        border: none;
        color: #5a4080 !important;
        background: #fff;
    }
    
    .nav-tabs>li>a::after {
        content: "";
        background: #5a4080;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }
    
    .nav-tabs>li.active>a::after,
    .nav-tabs>li:hover>a::after {
        transform: scale(1);
    }
    
    .tab-nav>li>a::after {
        background: #5a4080 none repeat scroll 0% 0%;
        color: #fff;
    }
    
    .tab-pane {
        padding: 15px 0;
    }
    
    .tab-content {
        padding: 20px
    }
    
    .nav-tabs>li {
        width: 20%;
        text-align: center;
    }
    
    @media all and (max-width:724px) {
        .nav-tabs>li>a>span {
            display: none;
        }
        .nav-tabs>li>a {
            padding: 5px 5px;
        }
    }